<div style="clear:both;"></div>
<div style="float:left; width:200px; padding: 13px 0 17px 21px;">
<div id="vertmenu">
<h2 class="menuHeadings">Rashi Manager</h2>
<ul>
	<li><a href="<%= base_url+"dashboard" %>">Dashboard</a></li>
	<li><a href="<%= base_url%>kundli">Kundli Manager</a></li>
	<li><a href="<%= base_url%>pandit">Pandit Manager</a></li>
</ul>

</div>
</div>
<style>
<!--
.menuHeadings{color:#fff;padding:10px 10px 10px 10px;font-size:15px;border-bottom: 2px solid;}
-->
</style>
